@import "../../styles/variables.scss";

.add2cart {
  border: none;
  border-top: 1px solid rgba(100, 98, 98, 0.494);
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: $primary-hover;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;

  &:hover {
    color: $primary-hover;
  }
}
.decreaseQ {
  border: 1px solid rgb(208, 208, 208);
  background: rgba(203, 202, 202, 0);
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  border-radius: $borderRadius;
  color: inherit;
  cursor: pointer;
  padding: 2px 8px;
}

.increaseQ {
  @extend .decreaseQ;
  button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
}

.remove {
  border: 1px none rgb(208, 208, 208);
  background: rgba(216, 18, 18, 0.758);
  font-family: inherit;
  // width: 100%;
  font-size: 1rem;
  border-radius: $borderRadius;
  font-weight: bold;
  color: black;
  cursor: pointer;
  padding: 2px 8px;
  padding: 0.75rem 1.25rem;
}
.cart-checkout {
  padding: 0.75rem 1.25rem;
  border-radius: $borderRadius;
  font-size: 1rem;
  font-family: inherit;
  box-shadow: 0 2px 6px gray;
  // border-color: $primary;
  color: $dark;
  border: 1px solid transparent;
  transition: 0.3s ease all;
  cursor: pointer;
}
