@import "./../styles/variables.scss";

.card {
  border-radius: $radius;
  box-shadow: 0 0 10px 5px gray;
  min-width: 28rem;
  display: flex;
  margin: 2rem;
  padding: 1rem;
  background-color: $bg;

  &__img {
    width: 7rem;
    height: 8rem;
    object-fit: cover;
  }
  &__body {
    margin: 1rem;
    flex-grow: 1;

    &__title {
      line-height: 1.4rem;
      margin-bottom: 0.5rem;
    }
    &__description {
      line-height: 1.2rem;
    }
    &__price {
      font-style: 1.4rem;
      margin-top: 0.6rem;
      &::after {
        content: "INR";
        font-style: 1rem;
        position: relative;
        top: -0.3rem;
        font-size: 0.7rem;
        padding-right: 0.1rem;
      }
    }
    &__stock {
      color: red;
      margin-top: 2rem;
    }

    button {
      border: 1px solid rgb(208, 208, 208);
      background: rgba(216, 18, 18, 0.758);
      font-family: inherit;
      width: 100px;
      font-size: 1rem;
      font-weight: bold;
      color: inherit;
      cursor: pointer;
      padding: 2px 8px;
    }
    &__quantity {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;

      &__quatityBTN {
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
        margin: 8px 0;

        p {
          font-size: small;
        }
        button:disabled,
        button[disabled] {
          border: 1px solid #999999;
          background-color: #cccccc;
          color: #666666;
          cursor: not-allowed;
          border-radius: $borderRadius;
        }
      }
      &__quatityBTN button {
        border: 1px solid rgb(208, 208, 208);
        background: rgba(203, 202, 202, 0);
        font-family: inherit;
        font-size: 1rem;
        font-weight: bold;
        color: inherit;
        cursor: pointer;
        padding: 2px 8px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 16rem));
  }
  .card {
    flex-direction: column;
    text-align: center;
    min-width: 22rem;

    &__img {
      width: 100%;
      height: 18rem;
    }
  }
}
